body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: bisque;
}

.container{
    min-height: 80vh;
    width:60%;
    border: 10px solid rgb(129, 187 , 174);
    margin:4rem auto;
    border-radius: 10px;
    box-shadow:10px 1px 35px rgba(0,0,0,0.6) ;
    position: relative;
    background: url('img1.jpg') center/cover fixed no-repeat;
    transition:background 1s ease-in-out ;
}

.btn-left{
    position: absolute;
    top:50%;
    left:-2%;
    background-color: white;
    padding:.4em .6em;
    border-radius: 2em;
    transform: translateY(calc(-50%));
    cursor: pointer;
}
.btn-right{
    position:absolute;
    top:50%;
    right:-2%;
    background-color: white;
    padding: .4em .6em;
    border-radius: 2em;
    transform: translateY(calc(-50%));
    cursor: pointer;
}